section{
  max-width: 800px; 
  margin: 20px auto; 
  padding: 20px; 
  border-radius: 8px; 
  background-color: transparent; 
  box-shadow: 0 0 20px rgb(244, 250, 252, 1.0);
}

h1{
  text-align: center;
}

h3 {
  margin: 10px 0;
  font-size: 16px;
  font-family: cursive;
}
